# Node
/node_modules
npm-debug.log
yarn-error.log

# Build output
/dist

# Local data & uploads
/data
/media
*.db
*.db-journal

# Env / secrets
.env
.env.local

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
.history/*

# System files
.DS_Store
Thumbs.db
